@import "tailwindcss";

/* 1. 기능별 스타일 임포트 */
@import "./styles/layout.css";
@import "./styles/machine.css";
@import "./styles/ui.css";

/* 2. 기본 베이스 스타일 */
@layer base {
  body {
    @apply bg-slate-950 antialiased;
    overflow-x: hidden;
  }
}